  
#body {
    font-family: 'Nunito';
  background-color:#D8BFD8;
  }
#login-card{
      width:350px;
      border-radius: 25px;
      margin:150px auto;
    
  }

    .deep-purple {
        background-color: #673AB7; /* Deep purple background color */
        color: #FFFFFF; /* Text color for visibility */
        /* Add any other styles you need */
    }
    


  #email{
      border-radius:30px;
      background-color: #ebf0fc;
      border-color: #ebf0fc;
      color: #9da3b0;
  }
  
  #button{
      border-radius:30px;
  
  }
  
  #button {
    position: relative;
    bottom: 0;
    padding: 10px 20px;
    margin: 10px 0;
    align-items: center;
    border-radius: 20px;
    background-color: #673ab7; /* Deep Purple */
    color: #fff; /* Text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: #512da8; /* Darker shade on hover */
}


  #container{
      margin-top:25px;
  }
  
  .btn-circle.btn-sm { 
              width: 40px; 
              height: 40px; 
              padding: 2px 0px; 
              border-radius: 25px; 
              font-size: 14px; 
              text-align: center;
              
              margin: 8px;
          }